.Counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 5em;
    color: $color-primary;
    margin: 0;
    margin-bottom: 0.5em;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 25px;

    button {
      transition: 0.2s;
      cursor: pointer;
      background-color: white;
      color: $color-primary;
      border: 2px currentColor solid;
      border-radius: 5px;
      padding: 10px 15px;
      width: 100px;

      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}
